body{
    background-color: #f8f6f6;
}
/** sub navegacion perfil **/
.sub-navigation{
    margin: 0 !important;
    width: 100%;
    height: 4rem;
    box-shadow: 0px 0px 0px;
    border-bottom: 1px solid #e7e7e7;
}

.sub-navigation ul{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0
}

.sub-navigation ul a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1rem!important;
    line-height: normal;
    margin-bottom: 0;
    
}

/* fin sub navegacion perfil*/ 

.container-fluid .content-profile{
    height: 100% !important;
}

/** tarjeta sobre mi **/
.content-about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content-about-me{
    margin-top: 2.5rem;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    width: auto;
    max-width: 300px; 
}

.card-content-about-me .container{
    padding: 10px;
    height: auto;

}

.card-content-about-me .container .header-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
}

.card-content-about-me .container .header-card img{
    width: 136px;
    height: 136px;
    border-radius:50%
}

.card-content-about-me .container .header-card h4{
    margin-top: 15px;
    font-size:14px;
    color: #000;
    font-weight: bold;
}

.card-content-about-me .container .header-card h6{
    font-size: 12px;
    color: #929292
}

.card-content-about-me .container .card-body{
    padding: 15px;
    height:auto;
    margin-bottom: 10px;
}

.card-content-about-me .container .card-body h5{
    color: #000;
    font-size:12px;
    font-weight: bold;
}

.card-content-about-me .container .card-body p{
    color: #868686;
    font-size:12px;
}
/**fin tarjeta sobre mi **/

/**imformacion curriculum **/
.curriculum-container{
    padding-top: 2rem;
    padding-bottom:2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 6px;
    margin-top: 2.5rem;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;
    width: auto; 
    max-width: 770px;
    height: auto;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.curriculum-container .body .bodyInner{
   padding: 20px;
}

.curriculum-container .body .section-cv{
    margin-top: 20px;
}

.curriculum-container .body .section-cv .head_section .title h5{
    margin-top: 5px;
    font-size:16px
}

.curriculum-container .body .section-cv .head_section{
    display: flex;
    flex-direction: row;
}

.curriculum-container .body .section-cv .head_section .title{
    margin-left: 10px;
}

.curriculum-container .body .section-cv .content{
    font-size:12px;
    margin-left: 26px;
}
/** fin informacion curriculum **/

/** contacto **/

.card-contact{
    padding: 3rem;
    border-radius: 6px;
    margin-top: 2.5rem;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;
    width: auto; 
    max-width: 380px;
    min-width: 300px;
    display:flex;
    flex-direction: column;
    height: auto;
    min-height: 350px
}

.card-contact .title{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.card-contact .email{
   margin-top: 3.5rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}

.card-contact .phone{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
 }

.card-contact .email p, .card-contact .phone p{
    margin-left: 5px;
}

.card-contact .email p a{
    text-decoration: none;
}
/*fin contacto*/

/* start style aptitudes */
.container-aptitudes{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}

.card-skill{
    width: 33.3%;
    display:flex;
    justify-content: center;
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.card-skill{
    margin-top:2.5rem;
    margin-left: 5px;
    margin-right: 5px;
    width: 230px;
    height: 61px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    cursor: default;
}
.card-skill .icon-skill{
    width: 30%;
    display: flex;
    justify-content: center;
}

.card-skill .skill{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-skill .skill .skill-name{
    margin: 0 !important;
    font-size:14px

}

.card-skill .skill .skill-level{
    margin: 0 !important;
    font-size: 12px;
    color: #929292
}
/* end style aptitudes */

@media (max-width: 480px) {
    .content-profile{
        display:flex;
        flex-direction: column;
        align-items: center;
        overflow-y: visible;
        height: auto;
    }

    .container-aptitudes{
        width: 100%;
        display:flex;
        justify-content: center;
    }
}