


.separado{
    margin-top:10px;
}

.separado2{
    margin-top:20px;
}

.separado3{
    margin-top:30px;
}

.foto-perfil{
    height: 200px;
    width: 200px;
}

.foto-perfilCV{
    height: 200px;
    width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.number{
    -moz-appearance: textfield;
}

.right{
    float: right;
}

.center{
    display: flex;
    justify-content: center;
}

.tarjetasVerticales{
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 1rem;
    cursor: pointer;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
  }

  .center-container{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 60%;
    /* height: 100%; */
  }



.abs-center .content{
    /* margin-top: 4rem;
}

.abs-center .container-options {
    min-height: 90vh; */
    margin-top: 2rem;
  }

.alinearVertical{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1060px) {
    .ocultar-search{
    display:none;
    }
    }


 @media screen and (min-width: 1060px) {
    .mostrar-search{
    display:none;
    }
    }    

body {
    
    height: 100vh; 
    overflow:hidden; 
}

.main-progress-render{
    overflow-y: auto;  
    height: calc(100vh - 150px);
}
.main-render{
    overflow-y: auto;  
    height: calc(100vh - 57px);
}


#root{
    height: 100%;
}

.display-overflow{
    overflow-y:scroll ;  
    height:600px ;
}