.row-login{
  /* margin-top: 2rem; */
  border-radius: 9px;
  box-shadow: 0px 3px 28px #0000002B;
  padding: 5;
  height: 100%;
}

.column, .col-slideshow{
  height: 800px;
}

.logo-login{
  margin-top: -4rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 80% !important;
  height: 80%;
}

.themed-container .row-login .column .form-container{
  margin-top: -8rem;
  margin-left: 2rem;
  width: 85%;
}
 
.themed-container .row-login .column .form-container label{
  margin-bottom: 0.5rem;
}

.themed-container .row-login .column .form-container input{
  margin-bottom: 1.5rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

 .themed-container .row-login .column .form-container .button-submit{
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 5px;
    font-size: larger;
    font-weight: 600;
    
 }
 
 .my-facebook-button-class{
   width: 100%;
   height: 48px;
   padding: 5px;
   border-radius: 5px;
   margin-bottom: 1.5rem;
   margin-top: 1rem;
   background-color: #3b5998;
   color: white;
   border-color: transparent;
   font-size: large;
   font-weight: 600;
 }

 .my-facebook-button-class:hover{
  opacity: 0.85;
  
}

 .butonLoginGoogle{
   width: 100%;
   height: 48px;
   padding: 5px;
   border-radius: 5px;
   background-color: #E9523A !important;
   border-color: transparent;
   color: white !important;
   font-size: large;
   font-weight: 600;
 }

 .butonLoginGoogle:hover{
  opacity: 0.85;
  
}

 .check-remember{
   margin-top: 1.5rem;
   width: 100%;
   padding: 0;
   margin-left: 1.5rem;
 }

 .formgroup-a{
   margin-left: 2.3rem;
   margin-top: 1.5rem;
 }

 .formgroup-a a{
  text-decoration: none;
 }

 .label-register{
   margin-top: 0.8rem;
   margin-left: 4rem;
   width: 100%;
   display: block;
 }

 .label-register a{
  margin-left: 3px;
  text-decoration: none;
 }

 .col-slideshow{
   background-color: #0d6efd;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
 }

 .carousel{
   width: 100%;
   height: 100%;
 }

 .img-carousel{
   margin-left: 12rem;
   margin-top: 8rem;
 }

 .carousel-caption{
   position: static;
 }

 .buton-create-user{
   display: block;
   width: 100%;
   margin-bottom: 2.8rem;
 }

 .label-login{
   margin-left: 8rem;
 }

 @media (max-width: 1366px ){
  .row-login{
    margin-top: 3rem;
    border-radius: 9px;
    box-shadow: 0px 3px 28px #0000002B;
    padding: 5;
    height: 610px;
  }
  
  .column, .col-slideshow{
    height: 610px;
  }
  
  .logo-login{
    margin-top: -3rem;
    margin-left: 6rem;
    margin-bottom: 3rem;
    width: 60% !important;
    height: 60%;
  }
  
  .themed-container .row-login .column .form-container{
    margin-top: -5rem;
    margin-left: 2rem;
    width: 85%;
    height: 60%;
  }
   
  .themed-container .row-login .column .form-container label{
    margin-bottom: 0.2rem;
  }
  
  .themed-container .row-login .column .form-container input{
    margin-bottom: 0.5rem;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    position: relative;
    z-index: 2;
  }
  
   .themed-container .row-login .column .form-container .button-submit{
      width: 100%;
      height: 40px;
      margin-top: 0.1rem;
      border-radius: 5px;
      font-size: larger;
      font-weight: 600;
      
   }
   
   .my-facebook-button-class{
     width: 100%;
     height: 40px;
     padding: 5px;
     border-radius: 5px;
     margin-bottom: 0.5em;
     margin-top: 1.5rem;
     background-color: #3b5998;
     color: white;
     border-color: transparent;
     font-size: large;
     font-weight: 600;
   }
  
   .my-facebook-button-class:hover{
    opacity: 0.85;
    
  }
  
   .butonLoginGoogle{
     width: 100%;
     height: 40px;
     padding: 5px;
     border-radius: 5px;
     background-color: #E9523A !important;
     border-color: transparent;
     color: white !important;
     font-size: large;
     font-weight: 600;
   }
  
   .butonLoginGoogle:hover{
    opacity: 0.85;
    
  }
  
   .check-remember{
     margin-top: 0.9rem;
     width: 100%;
     padding: 0;
     margin-left: 1.5rem;
   }
  
   .formgroup-a{
     margin-left: 0.3rem;
     margin-top: 0.9rem;
   }
  
   .formgroup-a a{
    text-decoration: none;
   }
  
   .label-register{
     margin-top: 1.2rem;
     margin-left: 3.3rem;
     width: 100%;
     display: block;
   }
  
   .label-register a{
    margin-left: 3px;
    text-decoration: none;
   }
  
   .col-slideshow{
     background-color: #0d6efd;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
   }
  
   .carousel{
     width: 100%;
     height: 100%;
   }
  
   .img-carousel{
     margin-left: 7.5rem;
     margin-top: 3rem;
   }
  
   .carousel-caption{
     margin-top: -2.5rem;
     position: static;
   }
 }

 @media (max-width: 450px ){
    .row-login{
      box-shadow: none;
      width: 100%;
      height: 100%;
    }

    .column{
      width: 100%;
      height: 100%;
    }

    .logo-login{
      margin-top: -4.5rem;
      margin-left: 3rem;
      width: 80%;
      height: 80%;
    }

    .themed-container .row-login .column .form-container{
      margin-top: -5rem;
    }

    .col-slideshow{
      display: none;
    }

    .butonLoginGoogle{
      width: 100%;
      height: 30%;
      padding: 5px;
      border-radius: 5px;
      background-color: #E9523A !important;
      border-color: transparent;
      color: white !important;
      font-size: large;
      font-weight: 600;
    }
   
    .my-facebook-button-class{
      width: 100%;
      height: 30%;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 0.5rem;
      margin-top: 0.8rem;
      background-color: #3b5998;
      color: white;
      border-color: transparent;
      font-size: large;
      font-weight: 600;
    }

    .themed-container .row-login .column .form-container .button-submit{
      width: 100%;
      height: 40px;
      margin-top: 0.5rem;
      border-radius: 5px;
      font-size: larger;
      font-weight: 600;
   }

   .themed-container .row-login .column .form-container input{
    margin-bottom: 0.8rem;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
  }

  .check-remember{
    margin-top: 1.1rem;
    width: 50%;
    padding: 0;
    margin-left: 1.5rem;
    font-size: 15px;
  }
 
  .formgroup-a{
    font-size: 15px;
    margin-left: 1rem;
    margin-top: 1.1rem;
  }

  .label-register{
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
    font-size: 15px;
  }
 
  .label-register a{
   margin-left: 3px;
   text-decoration: none;
   font-size: 15px;
  }
 }

 @media (min-width: 451px) and (max-width: 767px){
   .logo-login{
     margin-top: 5rem;
   }

   .themed-container .row-login .column .form-container{
    margin-top: -3.5rem;
  }

  .col-slideshow{
    display: none;
  }
 }