.row-login{
  margin-top: -1rem;
  border-radius: 9px;
  box-shadow: 0px 3px 28px #0000002B;
  padding: 0;
  height: 100%;
}

 /* start style colum form login*/

.container-logo{
  display: flex;
  align-items: center;
  justify-content:center;
  vertical-align: start
}

.logo-login{
  margin-top: 2rem;
  margin-bottom:1rem;
  padding: 1rem;
  width: 70% !important;
  height: 70% !important;
}

.themed-container .row-login .column .form-container{
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.themed-container .row-login .column .form-container label{
  margin-bottom: 0.5rem;
}

.themed-container .row-login .column .form-container input{
  margin-bottom: 1.5rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  font-size: 18px
}

 .themed-container .row-login .column .form-container .button-submit{
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 5px;
    font-size: larger;
    font-weight: 600;

 }

 .my-facebook-button-class{
   width: 100%;
   height: 48px;
   padding: 5px;
   border-radius: 5px;
   margin-bottom: 1.5rem;
   margin-top: 1rem;
   background-color: #3b5998;
   color: white;
   border-color: transparent;
   font-size: large;
   font-weight: 600;
 }

 .my-facebook-button-class:hover{
  opacity: 0.85;

}

 .butonLoginGoogle{
   width: 100%;
   height: 48px;
   padding: 5px;
   border-radius: 5px;
   background-color: #E9523A !important;
   border-color: transparent;
   color: white !important;
   font-size: large;
   font-weight: 600;
 }

 .butonLoginGoogle:hover{
  opacity: 0.85;

}

 .check-remember{
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-top: 1.5rem;
 }

 .formgroup-a{
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
  margin-top: 1.5rem;
 }

 .formgroup-a a{
  text-decoration: none;
 }

 .label-register{
   width: 100%;
   margin-top: 0.7rem;
   margin-bottom: 0.1rem;
   display:flex;
   justify-content:center;
   align-items: center;
 }

 .label-register a{
  margin-left: 3px;
  text-decoration: none;
 }
 /*end style colum form login*/

 /* start style welcome*/
 .column-welcome{
   height:50%;
   align-items: center;
   justify-content: center;
   text-align: center;
 }
 /* end style welcome*/

 /* start style slideshow*/

 .column, .col-slideshow{
  height: auto;
  }

 .col-slideshow{
   background-color: #0d6efd;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
 }

.carousel{
  height:100%;
}

.carousel-inner .active{
  height: 100%;
  margin-top: 3rem;
  display: flex ;
  justify-items: center ;
  align-items:center;
  flex-direction: column;
}

.carousel-item img{
 display: block;
 width: 60%;
 height: 40%;
 
}

 .carousel-caption{
   display: flex !important;
   flex-direction: column;
   position: static;
   justify-content: center !important;
   align-items: center !important;
   width: 100%;
   margin-top:3.5rem
 }

 .carousel-caption p{
   width: 70%;
 }

 .buton-create-user{
   display: block;
   width: 100%;

 }

  @media (max-width: 1367px ){
  .row-login{
    border-radius: 9px;
    box-shadow: 0px 3px 28px #0000002B;
    padding: 5;
    height: 575px;
  }

  .column, .col-slideshow{
    height: 575px !important;
  }

   /* start style colum form login*/

.container-logo{
  display: flex;
  align-items: center;
  justify-content:center;
  vertical-align: top !important
}

.logo-login{
  margin-top: 0;
  margin-bottom:0;
  padding: 1rem;
  width: 60% !important;
  height: 60% !important;
}

.themed-container .row-login .column .form-container{
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.themed-container .row-login .column .form-container label{
  margin-bottom: 0.2rem;
}

.themed-container .row-login .column .form-container input{
  margin-bottom: 0.5rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  font-size: 18px
}

 .themed-container .row-login .column .form-container .button-submit{
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: larger;
    font-weight: 600;

 }

 .my-facebook-button-class{
   width: 100%;
   height: 40px;
   padding: 5px;
   border-radius: 5px;
   margin-bottom: 0.8rem;
   margin-top: 1rem;
   background-color: #3b5998;
   color: white;
   border-color: transparent;
   font-size: large;
   font-weight: 600;
 }

 .my-facebook-button-class:hover{
  opacity: 0.85;

}

 .butonLoginGoogle{
   width: 100%;
   height: 40px;
   padding: 5px;
   border-radius: 5px;
   background-color: #E9523A !important;
   border-color: transparent;
   color: white !important;
   font-size: large;
   font-weight: 600;
 }

 .butonLoginGoogle:hover{
  opacity: 0.85;

}

 .check-remember{
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-top: 1rem;
 }

 .formgroup-a{
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
  margin-top: 1rem;
 }

 .formgroup-a a{
  text-decoration: none;
 }

 .label-register{
   width: 100%;
   margin-top: 0.3rem;
   margin-bottom: 0rem;
   display:flex;
   justify-content:center;
   align-items: center;
 }

 .label-register a{
  margin-left: 3px;
  text-decoration: none;
 }
 /*end style colum form login*/

 /* start style slideshow*/

 .column, .col-slideshow{
  height: 570px;
  }

 .col-slideshow{
   background-color: #0d6efd;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
 }

.carousel{
  height:100%;
}

.carousel-inner .active{
  height: 100%;
  margin-top: 2rem;
  display: flex ;
  justify-items: center ;
  align-items:center;
  flex-direction: column;
}

.carousel-item img{
 display: block;
 width: 60%;
 height: 40%;
 
}

 .carousel-caption{
   display: flex !important;
   flex-direction: column;
   position: static;
   justify-content: center !important;
   align-items: center !important;
   width: 100%;
   margin-top:-10px !important
 }

 .carousel-caption p{
   width: 70%;
 }

 .buton-create-user{
   display: block;
   width: 100%;

 }
}

 @media (min-width:464px) and (max-width: 768px ){
    .row-login{
      box-shadow: none;
      width: 100%;
      height: 100%;
    }

    .column{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center !important;
    }

    .container-logo{
      display: flex;
      align-items: center;
      justify-content:center;
      vertical-align: start
    }

    .logo-login{
      width: 80% !important;
      height: 80% !important;
    }

    .themed-container .row-login .column .form-container{
     width: auto;
     display: flex;
     flex-direction: column;
    }

    .butonLoginGoogle{
      width: 100%;
      height: 30%;
      padding: 5px;
      border-radius: 5px;
      background-color: #E9523A !important;
      border-color: transparent;
      color: white !important;
      font-size: large;
      font-weight: 600;
    }

    .my-facebook-button-class{
      width: 100%;
      height: 30%;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 0.5rem;
      margin-top: 0.8rem;
      background-color: #3b5998;
      color: white;
      border-color: transparent;
      font-size: large;
      font-weight: 600;
    }

    .themed-container .row-login .column .form-container .button-submit{
      width: 100%;
      height: 40px;
      margin-top: 0.5rem;
      border-radius: 5px;
      font-size: larger;
      font-weight: 600;
   }

   .themed-container .row-login .column .form-container input{
    margin-bottom: 0.8rem;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
  }

  .check-remember{
    margin-top: 1.1rem;
    width: 100%;
    display: block;
    align-items: start;
    justify-content: start;
    padding: 7;
  }

  .formgroup-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.1rem;
    width: 100%;
  }

  .label-register{
    margin-top: 1rem;
    width: 100%;
    font-size: 15px;
  }

  .label-register a{
   margin-left: 3px;
   text-decoration: none;
   font-size: 15px;
  }

  .col-slideshow{
    display: none;
  }
 } 

 @media (max-width: 466px)  {
  .row-login{
    box-shadow: none;
    height: 100%;
  }

  .column{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }

  .container-logo{
    display: flex;
    align-items: center;
    justify-content:center;
    vertical-align: start
  }

  .logo-login{
    width: 80% !important;
    height: 80% !important;
  }

  .themed-container .row-login .column .form-container{
   width: auto;
   display: flex;
   flex-direction: column;
  }

  .butonLoginGoogle{
    width: 100%;
    height: 30%;
    padding: 5px;
    border-radius: 5px;
    background-color: #E9523A !important;
    border-color: transparent;
    color: white !important;
    font-size: large;
    font-weight: 600;
  }

  .my-facebook-button-class{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
    background-color: #3b5998;
    color: white;
    border-color: transparent;
    font-size: large;
    font-weight: 600;
  }

  .themed-container .row-login .column .form-container .button-submit{
    width: 100%;
    height: 40px;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: larger;
    font-weight: 600;
 }

 .themed-container .row-login .column .form-container input{
  margin-bottom: 0.8rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.check-remember{
  margin-top: 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.formgroup-a{
  margin-top: 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.label-register{
  margin-top: 2rem;
  width: 100%;
  font-size: 15px;
}

.label-register a{
 text-decoration: none;
 font-size: 15px;
}

.col-slideshow{
  display: none;
}
 }
