.logo_navbar{
    margin-left: 1.5rem;
}

.navbar-nav{
    align-items: center;
    justify-content: space-evenly;
}

.navbar-nav li{
    margin-left:10px
}

.buscador{
    display: flex;
    width: 70%;
    margin: 0 !important;
}

.buscador .form-busqueda{
    width: 100%;
}

.buscador .form-busqueda .ocultar-search{
    align-items: center;
    justify-content: center;
}

.buscador .form-busqueda .ocultar-search input{
    border-radius: 9px !important;
    width: auto !important;
    max-width:600px
}

.buscador .input-group-append .btn{
    margin-left: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 9px;
    border-width: 2px;
    border-color: #0D6EFD;
    opacity: 1;
    color: #0D6EFD;
    height: 2.4rem;
    text-decoration: none;
    font-weight: 600;
}

.buscador .input-group-append .btn:hover{
    border-color: #25E9BA;  
}

.nav-link .a-login{
    margin: 0 !important;
} 

.ul-login{
    justify-content:end
}
/* @media (max-width: 1366px ){
    
    .buscador{
        display: flex;
        margin-left: 0 !important;
    }
    
    .buscador .form-busqueda{
        margin-left: 3rem;
    }
    
    .buscador .form-busqueda .ocultar-search input{
        border-radius: 9px !important;
        width: 320px !important;
    }
    
    .buscador .input-group-append .btn{
        margin-left: 2rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 9px;
        border-width: 2px;
        border-color: #0D6EFD;
        opacity: 1;
        color: #0D6EFD;
        width: 10rem;
        height: 2.4rem;
        text-decoration: none;
        font-weight: 600;
    }
    
    .buscador .input-group-append .btn:hover{
        border-color: #25E9BA;  
    }
    
    .nav-link .a-login{
        margin-right: 3rem;
    } 

} */
 

