.logo_navbar{
    margin-left: 1.5rem;
}

.btn-cv-navbar, .btn-oficina-navbar, .dropdown{
    margin-left: 1rem;
}

.buscador{
    display: flex;
    margin-left: 0 !important;
}

.buscador .form-busqueda{
    margin-left: 8rem;
}

.buscador .form-busqueda input{
    border-radius: 9px !important;
}

.buscador .input-group-append .btn{
    margin-left: 2rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 9px;
    border-width: 2px;
    border-color: #0D6EFD;
    opacity: 1;
    color: #0D6EFD;
    width: 10rem;
    height: 2.4rem;
    text-decoration: none;
    font-weight: 600;
}

.buscador .input-group-append .btn:hover{
    border-color: #25E9BA;  
}

.nav-link .a-login{
    margin-right: 3rem;
} 

 

