


.separado{
    padding-top:10px;
}
.foto-perfil{
    height: 200px;
    width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.number{
    -moz-appearance: textfield;
}

.right{
    float: right;
}


.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
  }

.alinearVertical{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1060px) {
    .ocultar-search{
    display:none;
    }
    }


 @media screen and (min-width: 1060px) {
    .mostrar-search{
    display:none;
    }
    }    